/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;

}

li:hover {
	color: #B1663C;
}

/* lien vers login.html */
a {
	text-decoration: none;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	display: inline-block;
	position: relative;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 448px;
	object-fit: cover;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* filttre */
#Filtre {
	display: flex;
	justify-content: center;
	gap: 20px;

}

#Filtre button {
	margin-bottom: 20px;
	border: 1px solid #1D6154;
	padding: 10px;
	border-radius: 25px;
	font-size: 1.2em;
	color: #1D6154;
	font-family: 'Syne';
	background-color: white;

}

#Filtre button:hover {
	color: white;
	background-color: #1D6154;
}

/* page logIN */

.password {
	color: black;
	text-decoration: underline;

}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login {
	width: 50%;
	margin: auto;
	height: auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}


#login input {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

/* footer */
.footerLog {
	height: 60px;
	margin-top: 230px;

}

.textML {
	width: 109px;
	height: 16px;
	font-weight: 300;
	font-size: 14px;
	font-family: 'work Sans';
	color: #000000;
}

/* message d'erreur d'authetification */
#error-msg:empty {
	display: none;
	transition-duration: 2s;
}

#error-msg {
	color: red;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	margin: 2rem;
	padding: 15px;
	transition-duration: 2s;
}



/* MODALE */
.deflex {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.titre {
	text-align: center;
	margin-top: 10px;
	font-weight: 400;
}

.modal {
	width: 100%;
	background: rgba(0, 0, 0, 0.45);
	border-radius: 10px;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-wrapper {
	width: 630px;
	height: 730px;
	border-radius: 10px;
	background-color: white;
	position: relative;
	max-width: 630px;
	max-height: 730px;
	margin: auto;
}

.X-close {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-top: 20px;

}

#titlemodale {
	color: #000000;
	margin-left: 35%;
	font-weight: 400;
	font-family: 'work Sans';
	font-size: 26px;
	text-align: center;
	margin-top: 30px;
	width: 173px;
	height: 30px;
	margin-bottom: 30px;
}

.bouttons-modale {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.galerie-photo {
	margin: 0 105px;
	aspect-ratio: 422/436;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 6px;
	grid-row-gap: 12px;
	border-bottom: 1px solid #B3B3B3;
}


.modale-ajout-btn {
	background-color: #1D6154;
	border: 1px solid #1D6154;
	margin-bottom: 10px;
	width: 237px;
	border-radius: 60px;
	cursor: pointer;
	padding: 10px 8px 10px 8px;
	margin-left: 10px;
	color: #FFFFFF;
	font-family: 'syne';
	font-weight: 700;
	text-align: center;
	margin-top: 10px;
}


.modale-supprimer-btn {
	color: #D65353;
	margin-top: 10px;
}

.galerie-photo img {
	width: 100%;
	height: 105px;
	object-fit: cover;
}

.galerie-photo figure {
	position: relative;
}

.bouton-delete {
	position: absolute;
	display: flex;
	gap: 3px;
	right: 5px;
	top: 5px;
	padding: 3px;
	border-radius: 3px;
	margin-top: 5px;
	color: #FFFFFF;
	background-color: black;
	cursor: pointer;

}

.fa-trash-can {
	color: #FFFFFF;
}

.move-icone {
	position: relative;
	display: flex;
	opacity: 1;
	right: 0;
	top: 0;
	padding: 3px;
}

.fa-arrows-up-down-left-right {
	display: none;
}

.bouton-delete:hover .fa-arrows-up-down-left-right {
	display: block;
}

/*MODALE2  */


.Icons-modale2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icons-retour {
	margin-top: 30px;
	margin-left: 20px;
}

.Icone-X {
	margin-right: 20px;
	margin-top: 30px;

}

#titlemodal2 {
	color: #000000;
	margin-left: 35%;
	font-weight: 400;
	font-family: 'work Sans';
	font-size: 26px;
	text-align: center;
	margin-top: 30px;
	width: 150px;
	height: 30px;
	margin-bottom: 20px;
}

.titeAjout {
	color: #000000;
	text-align: center;
	margin-left: 35%;
}

.backcolor {
	color: black;
}

.backcolor1 {
	color: #FFFFFF;
}

.Icone-image {
	width: auto;
	min-width: 90px;
	margin-bottom: 30px;
	color: #B9C5CC;
	margin-left: 30px;
}

.fa-2xl {
	font-size: 3em;
}

.add-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 15%;
	width: 420px;
	overflow: hidden;
	height: 169px;
	border-radius: 15px;
	background-color: #E8F1F6;
	position: relative;
}

.add-picture label {
	padding: 10px 33px;
	height: 16px;
	font-weight: 500;
	font-size: 14px;
	color: #306685;
	font-family: 'work Sans';
	text-align: center;
	background-color: #CBD6DC;
	border-radius: 50px;
	cursor: pointer;


}


#file-upload {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: none;
}

.add-picture p {
	font-family: 'work Sans';
	font-size: 10px;
	color: #444444;
	margin-top: 20px;
}

.add-picture img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 25%;
	right: 25%;
	object-position: center;
	z-index: 100;
}

.add-picture::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 25%;
	width: 50%;
	height: 100%;
	background: rgba(0, 0, 0, 5);
	color: #CBD6DC;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
}

.add-picture.active:hover:before {
	opacity: 1;
}

#add-picture-form {
	justify-content: center;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	width: 420px;
	margin-left: 15%;

}

#add-picture-form input {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#add-picture-form label {
	margin: 2em 0 1em 0;
}

.selectCategory {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(109, 89, 89, 0.09);
}

.bouton-valider {
	font-family: 'Syne';
	color: #FFFFFF;
	background-color: #A7A7A7;
	border: 1px solid #A7A7A7;
	margin-bottom: 10px;
	margin-top: 50px;
	margin-left: 30%;
	width: 180px;
	border-radius: 60px;
	cursor: pointer;
	padding: 5px 3px 5px 3px;

}

.bouton-valider:hover {
	background-color: #1D6154;
}

.modal-wrapper2 {
	width: 630px;
	height: 730px;
	border-radius: 10px;
	background-color: #FFFFFF;
	position: relative;
	max-width: 630px;
	max-height: 730px;
	margin: auto;

}

.deflex1 {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	margin-left: 60px;
	margin-top: 10px;
	gap: 5px;
}